*{
    margin: 0;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     */
     font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    box-shadow: 0px 1px 5px #888888;
}

/*NAV-RIGHT*/
.nav-right{
    margin-right: 30px;
}

.nav-right ul{
    display: flex;
    align-items: center;
}
.nav-right ul .acount{
    background-color: rgb(234, 234, 234);
    margin-right: 3px;
    width: 15px;
	height: 15px;
	border-radius: 100%;
}

.cont-count{
    align-items: center;
    height: max-content;
    display: flex;
    padding: 7px;
    margin-right: 5px;
}
.cont-count:hover{
    cursor: pointer;
    background-color: rgb(223, 222, 222);
    border-radius: 15px;
}
.nav-right ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(234, 234, 234);
    margin-right: 10px;
    width: 33px;
	height: 33px;
	border-radius: 100%;
    padding: 5px;
}
.nav-right ul li:hover{
    background-color: rgb(223, 222, 222);
    cursor: pointer;
}
.nav-right{
    display: flex;
    align-items: center;
}

/**/




li{
    list-style: none;
  
}

p{
    font-weight: 600;
}

/* NAV-CENTER */

.nav-center ul{
    display: flex;
    /* height: max-content; */
}
.nav-center{
    display: flex;
    height: max-content;
    align-items: center;
    margin-left: 40px;
}
.nav-center{
}

.nav-center ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    height: max-content;
    height: 50px;
    width: 100px;
    margin-right: 5px;
}

.nav-center ul :hover{
    background-color: rgb(243, 243, 243);
    cursor: pointer;
    border-radius: 10px;
    
}

/**/

/* NAV-LEFT */
.nav-left{
    display: flex;
    margin-left: 40px;
    align-items: center;
}
.nav-left input{
    border-radius: 20px;
    border: none;
    margin-left: 10px;
    padding: 10px;
    font-size: 15px;
    background-color: rgb(234, 234, 234);
}

/**/

.content{
    display: flex;justify-content: space-between;
    background-color: #eff3ed;
}

/* SIDEBAR */

.sidebar{
width: 55%;
height: 100vh;
overflow-y: scroll;
/* border: 1px solid black; */
}
#style-1::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
}
#style-1::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}
#style-1::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
.sidebar ul li{
    display: flex;
    align-items: center;
    padding: 8px;
}

.sidebar ul li img{
    margin-right: 10px;
}
.sidebar ul {
}

.sidebar ul :hover {
    background-color: rgb(216, 216, 216);
    cursor: pointer;
    border-radius: 10px 0px 0px 10px;
}
.h3{
    margin-left: 20px;
    color: grey;
    margin: 10px 0px;
}

.content-center{
    width: 100%;
    padding: 20px 5px;
    display: flex;
    flex-direction:column;
    align-items: center;
}
.cont-card{
    display: flex;
    width: 90%;
    justify-content: space-around;

}
.card{
    width: 100px;
    border-radius: 10px;
    height: 160px;
    background-color: red;
}

.card2{
    background-color: white;
    margin-top: 30px;
    border-radius: 7px;
    width: 28em;
    padding: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card2 .top{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card2 input{
    height: 10px;
    border-radius: 20px;
    margin-right: 10px;
    border: none;
    padding: 15px;
    flex: 1;
    font-size: 15px;
    background-color: rgb(234, 234, 234);
}

.card:hover{
    cursor: pointer;
    opacity: 0.8;
}

.bottom{
    margin: 0px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid #e6e6e6;
    padding: 10px;
}

.cerita{
    display: flex;
    border-radius: 8px;
    align-items: center;
    padding: 6px;
}
.cerita:hover{
    cursor: pointer;
    background-color: rgb(234, 234, 234);

}
.content-right{
    background-color: #888888;
    width: 55%;
}
.cerita img{
    margin-right: 10px;
}

.cont3{
    margin-top: 20px;
    border-radius: 7px;
    padding: 10px;
    width: 28em;
    align-items: center;
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.cont3 .linear{
    background-color: rgb(68, 59, 59);
    margin-right: 10px;
    width: 40px;
	height: 40px;
	border-radius: 100%;
}

