*{
	margin:0;
	padding: 0;
}

body{
	font-family: segoe UI,helvetica,arial,sans-serif;
	
}

.container{
	width: 100%;
	box-sizing: border-box;
	height: 600px;
	padding: 20px;
	align-items: center;
	display: flex;
	justify-content: space-between;
	position: relative;
	background-color: #dcdcdc;
}

.konten{
	margin-top: 20px;
	width: 350px;
	height: 300px;
	padding: 20px;
	position: relative;
	

}
.konten h1{
	font-family: segoe UI;
	font-size: 50px;
	color: #1878f3;
	position: absolute;
	margin-top: 20px;
	box-sizing: border-box;
}

.konten p{
	margin-top: 20px;
	font-size: 25px;
    font-weight: normal;
    line-height: 32px;
    position: absolute;
    margin-top: 85px;
    box-sizing: border-box;

}

.konten1{
	height: 300px;
	width: 400px;
	padding: 10px;
	border-radius: 6px;
	background-color: #fff;
	position: relative;
	box-shadow: -5px 5px 5px 1px  #aeaeae;
}


.field input{
	width: 100%;
	box-sizing: border-box;
	margin: 10px 0 10px 0;
	border-radius: 5px;
	padding: 10px;
	border: 2px solid #dcdcdc;
	box-sizing: border-box;
	position: relative;

	

}
.login{
	width: 100%;
	height: 40px;
	border-radius: 5px;
	background-color: #1878f3;
	border: none;
	color: white;
	font-weight: bold;
	font-size: 18px;

}
.link{
	text-align:  center;
	padding: 3px;
	margin-top: 10px;

}
.link a{text-decoration: none;}

.sign-up{
	position: absolute;
	bottom: 0%;
	height: 90px;
	border-top: 2px solid #cdcdcd;
	width: 100%;
	left: 0%;
	box-sizing: border-box;
	overflow: hidden;
	margin-top: 10px;
	align-items: center;
	justify-content: center;
	display: flex;
}

.daftar{
	margin: 10px auto;
	width: 135px;
	height: 45px;
	border-radius: 5px;
	background-color: #42b72a;
	color: #fff;
	border: none;
	font-family: inherit;
	font-size: 15px;
	font-weight: bold;


}

/*animation */

.sign-up button:hover{
	background-color: #5bb18d;
	cursor: pointer;

}
.login:hover{
	cursor: pointer;
	background-color: #5a4492;
}



/*responsive*/

@media screen and (max-width: 425px){
	.konten p{
		display: none;

	}

	.konten1{
		top: 40%;
		left: 12.5%;
		width: 300px;
		position: absolute;

	}

	.konten h1{
		position: absolute;
		left: 83px;
		top: -10%;
	}


}

@media screen and (max-width: 375px){
	.konten1{
		left: 9%;

	}
	.konten h1{
		left: 58px;
	}

}

@media screen and (max-width: 320px){
	.konten1{
		left: 8%;
		width: 250px;

	}
	.konten h1{
		left: 31px;
	}

}













